In [1]:
import pandas as pd
import numpy as np

In [2]:
a = [[1,2,3],[2,3,4]]
[]

   0  1  2
0  1  2  3
1  2  3  4

In [43]:
len(a)

24

In [64]:
table = np.zeros((13,13),dtype='int')

a = [[0,1],
     [1,0],[1,2],[1,12],
     [2,1],[2,3],
     [3,2],[3,4],
     [4,3],[4,5],
     [5,4],[5,6],
     [6,5],
     [7,8],
     [10,6],[10,11],
     [11,10],[11,12],
     [12,1],[12,11]]

In [65]:
table

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [66]:
for i in a:
    x = i[0]
    y = i[1]
#     print(x,y)
    table[x][y] = 2

In [67]:
table
for i in range(13):
    for j in range(13):
        if table[i][j]== 0:
            table[i][j] = 99999

In [68]:
table

array([[99999,     2, 99999, 99999, 99999, 99999, 99999, 99999, 99999,
        99999, 99999, 99999, 99999],
       [    2, 99999,     2, 99999, 99999, 99999, 99999, 99999, 99999,
        99999, 99999, 99999,     2],
       [99999,     2, 99999,     2, 99999, 99999, 99999, 99999, 99999,
        99999, 99999, 99999, 99999],
       [99999, 99999,     2, 99999,     2, 99999, 99999, 99999, 99999,
        99999, 99999, 99999, 99999],
       [99999, 99999, 99999,     2, 99999,     2, 99999, 99999, 99999,
        99999, 99999, 99999, 99999],
       [99999, 99999, 99999, 99999,     2, 99999,     2, 99999, 99999,
        99999, 99999, 99999, 99999],
       [99999, 99999, 99999, 99999, 99999,     2, 99999, 99999, 99999,
        99999, 99999, 99999, 99999],
       [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999,     2,
        99999, 99999, 99999, 99999],
       [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999,
        99999, 99999, 99999, 99999],
       [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999,
        99999, 99999, 99999, 99999],
       [99999, 99999, 99999, 99999, 99999, 99999,     2, 99999, 99999,
        99999, 99999,     2, 99999],
       [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999,
        99999,     2, 99999,     2],
       [99999,     2, 99999, 99999, 99999, 99999, 99999, 99999, 99999,
        99999, 99999,     2, 99999]])

In [55]:
c = []
for i in range(3):
    c.append(table.tolist())

In [58]:
print(c)

[[[99999, 2, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [2, 99999, 2, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2], [99999, 2, 99999, 2, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 2, 99999, 2, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 2, 99999, 2, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 2, 99999, 2, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 2, 99999, 99999, 99999, 99999, 2, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2, 99999, 2, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2, 99999, 2, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2, 99999, 2], [99999, 2, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2, 99999]], [[99999, 2, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [2, 99999, 2, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2], [99999, 2, 99999, 2, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 2, 99999, 2, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 2, 99999, 2, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 2, 99999, 2, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 2, 99999, 99999, 99999, 99999, 2, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2, 99999, 2, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2, 99999, 2, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2, 99999, 2], [99999, 2, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2, 99999]], [[99999, 2, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [2, 99999, 2, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2], [99999, 2, 99999, 2, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 2, 99999, 2, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 2, 99999, 2, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 2, 99999, 2, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 2, 99999, 99999, 99999, 99999, 2, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2, 99999, 2, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2, 99999, 2, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2, 99999, 2], [99999, 2, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 2, 99999]]]

In [89]:
data = pd.read_csv('data.csv',header=None)

In [90]:
data = data.fillna(99999)

In [91]:
data = data.astype(int)

In [92]:
data

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,99999,0,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999
1,0,99999,0,99999,99999,99999,99999,99999,99999,99999,99999,99999,0
2,99999,0,99999,0,99999,99999,99999,99999,99999,99999,99999,99999,99999
3,99999,99999,0,99999,0,99999,99999,99999,99999,99999,99999,99999,99999
4,99999,99999,99999,0,99999,8,99999,99999,99999,99999,99999,99999,99999
5,99999,99999,99999,99999,4,99999,3,99999,99999,99999,99999,99999,99999
6,99999,99999,99999,99999,99999,6,99999,6,99999,99999,99999,99999,99999
7,99999,99999,99999,99999,99999,99999,3,99999,0,99999,99999,99999,99999
8,99999,99999,99999,99999,99999,99999,99999,0,99999,0,99999,99999,99999
9,99999,99999,99999,99999,99999,99999,99999,99999,0,99999,0,99999,99999
10,99999,99999,99999,99999,99999,99999,99999,99999,99999,0,99999,2,99999
11,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,4,99999,3
12,99999,0,99999,99999,99999,99999,99999,99999,99999,99999,99999,6,99999

In [93]:
print(data.values.tolist())

[[99999, 0, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [0, 99999, 0, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 0], [99999, 0, 99999, 0, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 0, 99999, 0, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 0, 99999, 8, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 4, 99999, 3, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 6, 99999, 6, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 3, 99999, 0, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 0, 99999, 0, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 0, 99999, 0, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 0, 99999, 2, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 4, 99999, 3], [99999, 0, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 6, 99999]]

In [23]:
data = pd.read_csv('data1.csv',header=None)

In [24]:
data = data.fillna(99999)

In [25]:
data = data.astype('int')

In [27]:
print(data.values.tolist())

[[99999, 0, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [0, 99999, 0, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 0], [99999, 0, 99999, 0, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 0, 99999, 0, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 0, 99999, 8, 99999, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 4, 99999, 3, 99999, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 6, 99999, 6, 99999, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 3, 99999, 0, 99999, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 0, 99999, 0, 99999, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 0, 99999, 0, 99999, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 0, 99999, 2, 99999], [99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 4, 99999, 3], [99999, 0, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 6, 99999]]

CAM을 구하기 위해서는 마지막 convolutional layer의 output (= GAP의 input) 과 바로 뒤의 Fully-Connected Layer의 weight, 이렇게 두 가지 정보가 필요합니다. \(f_k(x, y)\)를 GAP의 input의 \(k\)번째 unit의 \((x, y)\) 좌표에 해당하는 값이라고 하고, \(w_{k}^{c}\)를 Fully-Connected layer에서 input의 \(k\)번째 unit과 output의 \(c\)번째 (class)에 대응되는 weight이라고 정의합시다.

In [10]:
def Lotto() :
    ball1 = ball2 = ball3 = ball4 = ball5 = ball6 = ball7 = 0
    ball1 = random.randint(1, 45)
    while True :
        ball2 = random.randint(1,45)
        ball3 = random.randint(1,45)
        ball4 = random.randint(1,45)
        ball5 = random.randint(1,45)
        ball6 = random.randint(1,45)
        if ball1 != ball2 != ball3 != ball4 != ball5 != ball6:
            break

    while True :
        ball7 = random.randint(1, 45)
        if ball7 != ball1 and ball7 != ball2 and ball7 != ball3 and ball7 != ball4 and ball7 != ball5 and ball7 != ball6 :
            break
    print(str(ball1) + ' ' + str(ball2) + ' ' + str(ball3) + ' ' + str(ball4) + ' ' + str(ball5) + ' ' + str(ball6))
    return ball7

In [11]:
import random
ball7 = Lotto()
print('Bonus number is ' + str(ball7))

35 42 44 19 34 3
Bonus number is 14

In [6]:
a = 1
b = 2
c = 3

In [9]:
a != b != c

True

In [6]:
black/2

12.5

In [25]:
print('Enter a character to print')
ascii = input()

white = 0
black = 25

while white <= black/2:
    print(white*' ' + (black - 2*white)*ascii)
    print(black - 2*white)
    white = white + 1

Enter a character to print
a
aaaaaaaaaaaaaaaaaaaaaaaaa
25
 aaaaaaaaaaaaaaaaaaaaaaa
23
  aaaaaaaaaaaaaaaaaaaaa
21
   aaaaaaaaaaaaaaaaaaa
19
    aaaaaaaaaaaaaaaaa
17
     aaaaaaaaaaaaaaa
15
      aaaaaaaaaaaaa
13
       aaaaaaaaaaa
11
        aaaaaaaaa
9
         aaaaaaa
7
          aaaaa
5
           aaa
3
            a
1

In [27]:
print('Enter a character to print')
ascii = input()

white = 12   #
black = 25    
while white:
    print(white*' ' + (black-(white*2))*ascii)
    white = white - 1

Enter a character to print
a
            a
           aaa
          aaaaa
         aaaaaaa
        aaaaaaaaa
       aaaaaaaaaaa
      aaaaaaaaaaaaa
     aaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaa
   aaaaaaaaaaaaaaaaaaa
  aaaaaaaaaaaaaaaaaaaaa
 aaaaaaaaaaaaaaaaaaaaaaa