In [2]:
import pandas as pd
import numpy as np

# Genetic Algorithm
- 초기 population 생성
- 적합도 평가
- 종결조건
- Selection
- Crossover
- Mutation
- 다음 세대 population 생성

# Generate population

In [19]:
# chromosome이 갖는 gene의 갯수와 population size를 입력 해주면 초기 population 리턴
def gen_pop(gene, pop_size):
    import numpy as np
    initial_pop = []
    for i in range(pop_size):
        np.random.randint(low=0, high=100, size=gene)
        initial_pop.append(list(np.random.randint(low=0, high=100, size=gene)))
    return initial_pop

In [20]:
init_pop = gen_pop(7,10)
pd.DataFrame(init_pop)

    0   1   2   3   4   5   6
0  41  99  21  76  84  28  54
1  42  44  78  11  36  36  60
2  40  48  60  88  13   3   8
3   7  35   3  80  85  17  79
4  80   5  51  70   9  38   7
5   7  61  73  41  70  84  41
6  71  26  34  51  93  70  77
7  33  34  56  40  46  65  65
8  71   6  78  83  71  64  54
9  65  99  36  95  34  11  35

# Fitness function

In [21]:
# 적합도 함수, 하나의 chromosome에 대해 fitness value를 리턴
def fitness_function(lst):
    value = (lst[0]-10)**2 +    (lst[1]-20)**2 + (lst[2]-50)**2 +\
    (lst[3]-100)**2 +    (lst[4]-70)**2 +\
    (lst[5]-40)**2 +    (lst[6]-90)**2
    return value

In [22]:
for i in init_pop:
    print(fitness_function(i))

10255
12377
13270
3718
16640
10037
8012
6187
6863
14649

# Selection
- 여기서는 룰렛휠 selection을 사용, 적합도에 비례해 선택확률을 할당
- 목표가 minimize니까 value가 작을수록 ratio 높음

## roullet wheel 함수
- population을 넣어주면 각 chromosome의 적합도 함수 값이 나오고, 그 값을 기반으로한 확률을 반환
- 이 확률을 저장해뒀다가 numpy, choice에 넣어주면 됨

In [23]:
def roullet_wheel(pop):
    # 적합도 함수 계산
    values =[]
    for i in pop:
        values.append(fitness_function(i))
    # 각 녀석들의 비율 계산
    ratio = []
    hap = sum(values)
    for i in values:
        ratio.append(i/hap)

    return [values,ratio]

In [24]:
val, ratio = roullet_wheel(init_pop)
print('각각의 적합도 함수 값:\n',val)
print()
print('그에 따른 확률 값:\n',ratio)

각각의 적합도 함수 값:
 [10255, 12377, 13270, 3718, 16640, 10037, 8012, 6187, 6863, 14649]

그에 따른 확률 값:
 [0.10053133087600973, 0.12133362089247902, 0.1300878362481374, 0.036448121715943846, 0.16312446082660184, 0.09839424358873813, 0.07854285938357776, 0.06065210571719865, 0.06727903693827936, 0.14360638381303428]

## 임의로 두개 선택해보기

In [25]:
init_pop

[[41, 99, 21, 76, 84, 28, 54],
 [42, 44, 78, 11, 36, 36, 60],
 [40, 48, 60, 88, 13, 3, 8],
 [7, 35, 3, 80, 85, 17, 79],
 [80, 5, 51, 70, 9, 38, 7],
 [7, 61, 73, 41, 70, 84, 41],
 [71, 26, 34, 51, 93, 70, 77],
 [33, 34, 56, 40, 46, 65, 65],
 [71, 6, 78, 83, 71, 64, 54],
 [65, 99, 36, 95, 34, 11, 35]]

In [38]:
parent_1 = np.random.choice(np.array(range(len(init_pop))), p=ratio)
parent_2 = np.random.choice(np.array(range(len(init_pop))), p=ratio)
print('부모 1:',parent_1)
print('부모 2:',parent_2)

부모 1: 9
부모 2: 4

In [114]:
import numpy as np
np.random.choice(table['fitness_value'], p=table['ratio'])

22993.0

### 각 chromo의 값에 순위를 매긴다, 그 순위에 맞게 비율을 할당한다.

In [75]:
init = gen_pop(7,20)

In [76]:
table = pd.DataFrame(init)
table

     0   1   2   3   4   5   6
0   67  28  61  23   6  54  33
1   66  73  64  12  67   1  31
2    5  84   5  73  59   1  73
3   48   5  11  50  18  58  89
4   83   1  29   4   0  85   1
5   45  63  56   1   1  75  26
6   83  31  85  35   5  50  31
7    9  76   6  96  78   8  10
8   79   9  20  56  30  38  53
9   40  98  15   2  50  46  13
10  98  44  50  77  63  91  87
11  71  55  45  21  85  93  31
12  80  50  96  49  38  25  21
13  11  82  39  76  76  95  70
14  55  38  13  74  14  47   6
15  36  17   5  55  38  33   2
16  42  94  96  36   6  29  56
17  40  34  52  28  57  91  45
18  29  23  21  38  94  15  29
19  60  98  19  93  84  27  80

In [115]:
# 적합도 함수 계산
values =[]
for i in init:
    values.append(fitness_function(i))

In [116]:
# 각 녀석들의 비율 계산
ratio = []
hap = sum(values)
for i in values:
    ratio.append(i/hap)

In [94]:
values

[16904,
 18896,
 8806,
 8719,
 30193,
 22993,
 18706,
 12577,
 10691,
 24178,
 11508,
 17727,
 16527,
 8003,
 14635,
 13552,
 18085,
 11079,
 9977,
 10059]

In [117]:
pd.DataFrame({'v':values,'r':ratio})

        v         r
0   16904  0.055639
1   18896  0.062196
2    8806  0.028985
3    8719  0.028698
4   30193  0.099380
5   22993  0.075681
6   18706  0.061570
7   12577  0.041397
8   10691  0.035189
9   24178  0.079581
10  11508  0.037878
11  17727  0.058348
12  16527  0.054398
13   8003  0.026342
14  14635  0.048171
15  13552  0.044606
16  18085  0.059526
17  11079  0.036466
18   9977  0.032839
19  10059  0.033109

In [97]:
def to_table(pop):
    values =[]
    for i in range(len(pop)):
        values.append(fitness_function(pop.iloc[i,:]))
        
        
    table = pd.DataFrame(pop)
    table['fitness_value'] = values
    table['rank'] = table['fitness_value'].rank(method='min', ascending=False)
    

    hap = sum(table['fitness_value'])
    
    table['ratio'] = table['fitness_value']/sum(table['fitness_value'])
    return table

In [98]:
to_table(table)

     0   1   2   3   4   5   6  fitness_value  rank     ratio
0   67  28  61  23   6  54  33        16904.0   8.0  0.055639
1   66  73  64  12  67   1  31        18896.0   4.0  0.062196
2    5  84   5  73  59   1  73         8806.0  18.0  0.028985
3   48   5  11  50  18  58  89         8719.0  19.0  0.028698
4   83   1  29   4   0  85   1        30193.0   1.0  0.099380
5   45  63  56   1   1  75  26        22993.0   3.0  0.075681
6   83  31  85  35   5  50  31        18706.0   5.0  0.061570
7    9  76   6  96  78   8  10        12577.0  12.0  0.041397
8   79   9  20  56  30  38  53        10691.0  15.0  0.035189
9   40  98  15   2  50  46  13        24178.0   2.0  0.079581
10  98  44  50  77  63  91  87        11508.0  13.0  0.037878
11  71  55  45  21  85  93  31        17727.0   7.0  0.058348
12  80  50  96  49  38  25  21        16527.0   9.0  0.054398
13  11  82  39  76  76  95  70         8003.0  20.0  0.026342
14  55  38  13  74  14  47   6        14635.0  10.0  0.048171
15  36  17   5  55  38  33   2        13552.0  11.0  0.044606
16  42  94  96  36   6  29  56        18085.0   6.0  0.059526
17  40  34  52  28  57  91  45        11079.0  14.0  0.036466
18  29  23  21  38  94  15  29         9977.0  17.0  0.032839
19  60  98  19  93  84  27  80        10059.0  16.0  0.033109

In [99]:
sum(table['ratio'])

1.0

In [59]:
sum(table['rank']) - table['rank']

0     202.0
1     200.0
2     194.0
3     196.0
4     193.0
5     201.0
6     207.0
7     195.0
8     206.0
9     198.0
10    197.0
11    199.0
12    192.0
13    205.0
14    209.0
15    208.0
16    191.0
17    203.0
18    204.0
19    190.0
Name: rank, dtype: float64

In [71]:
table = to_table(init)
table

NameError: name 'talbe' is not defined

In [72]:
table['fitness_value']/sum(table['fitness_value'])

0     0.058848
1     0.052944
2     0.038254
3     0.041865
4     0.031402
5     0.055038
6     0.064828
7     0.040504
8     0.062637
9     0.044581
10    0.043296
11    0.046700
12    0.025331
13    0.060914
14    0.098845
15    0.079153
16    0.021073
17    0.060060
18    0.060581
19    0.013148
Name: fitness_value, dtype: float64

In [ ]:
20, 30, 40

60 20